<%- include('../includes/head.ejs') %>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen font-sans">
    <%- include('../includes/navigation.ejs') %>
    <main class="flex-1 my-5 ">
        <div class="w-1/2 mx-auto mb-5 px-4">
            <% if(producto) { %>
                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                    <img 
                        src="/<%= producto.imagen_portada %>" 
                        alt="<%= producto.nombre %>" 
                        class="w-full h-64 object-cover"
                    >
                    <div class="p-4">
                        <h1 class="text-2xl font-semibold text-gray-800 mb-2"><%= producto.nombre %></h1>
                        <p class="text-gray-600 mb-4"><%= producto.descripcion || 'Sin descripción disponible.' %></p>
                        <p class="text-xl text-green-500 font-bold mb-4">S/. <%= producto.precio %></p>
                        <%- include('../includes/agregar-al-carrito.ejs', {producto: producto}) %>
                    </div>
                </div>
            <% } else { %>    
                <div class="text-center p-10 bg-red-100 rounded-lg shadow-md">
                    <p class="text-red-600 font-bold text-lg">
                        No existe el producto, vuelve a inicio, vaquero.
                    </p>
                    <a 
                        href="/" 
                        class="mt-4 inline-block text-blue-500 hover:text-blue-700"
                    >
                        Volver al inicio
                    </a>
                </div>
            <% } %>    
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>
