<%- include('../includes/head.ejs') %>
</head>

<body class="bg-gray-200 flex flex-col min-h-screen">
    <%- include('../includes/navigation.ejs') %>
    <main class="flex-1">
        <div class="overflow-hidden h-[400px] relative mb-5">
            <div class="absolute bottom-20 right-20 flex items-center justify-center gap-4 flex-col">
                <h1 class="text-3xl">Encuentra todos tus juegos favoritos aquí</h1>
                <a href="/productos"><button class="px-8 py-2 border border-blue-500 rounded-xl hover:bg-blue-500 transition-all hover:text-white">Explorar</button></a>
            </div>
            <img src="https://cdn2.unrealengine.com/Epic+Games+Node%2Ffn-1920x1080-05e434e24b3170bc6cc6003c102270ee4cde3a75.jpg?resize=1&w=1920" alt="">
        </div>
        <div class="container mx-auto">
            <h1 class="text-2xl font-semibold mb-5">Popular</h1>
                
            <% if (prods.length > 0) { %>
                <div class="flex gap-4">
                    <% for (let producto of prods) { %>
                        <article class="bg-white shadow-lg rounded-lg overflow-hidden p-4 border border-gray-200 transition-transform transform hover:scale-105 w-[250px] flex flex-col items-center justify-center gap-4">
                            <header class="mb-4">
                                <h1 class="text-xl font-semibold text-gray-800 truncate text-center"><%= producto.nombre %></h1>
                            </header>
                            <div class="mb-4">
                                <img src="<%= producto.urlImagen %>" alt="<%= producto.nombre %>" class="w-full h-48 object-cover rounded-md">
                            </div>
                            <div>
                                <h2 class="text-lg font-bold text-gray-900">S/ <%= producto.precio %></h2>
                                <p class="text-gray-600 mt-1 line-clamp-3"><%= producto.descripcion %></p>
                            </div>
                            <% if(autenticado && tipoUsuario === 'user'){%>
                            <div class="card__actions">
                                <%- include('../includes/agregar-al-carrito.ejs', {producto: producto}) %>
                            </div>
                            <% }%>
                        </article>
                        
                    <% } %>
                </div>
            <% } else { %>
                <h1>No hay productos</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>