<%- include('../includes/head.ejs') %>
</head>

<body class="bg-gray-200">
    <%- include('../includes/navigation.ejs') %>
    <main class="min-h-screen container mx-auto">
        <h1 class="text-2xl font-semibold mb-5">Productos</h1>
            
        <% if (prods.length > 0) { %>
            <div class="flex gap-4">
                <% for (let producto of prods) { %>
                    <article class="bg-white shadow-lg rounded-lg overflow-hidden p-4 border border-gray-200 transition-transform transform hover:scale-105 w-[200px]">
                        <header class="mb-4">
                            <h1 class="text-xl font-semibold text-gray-800 truncate text-center"><%= producto.nombre %></h1>
                        </header>
                        <div class="mb-4">
                            <img src="<%= producto.urlImagen %>" alt="<%= producto.nombre %>" class="w-full h-48 object-cover rounded-md">
                        </div>
                        <div>
                            <h2 class="text-lg font-bold text-gray-900">S/ <%= producto.precio %></h2>
                            <p class="text-gray-600 mt-1 line-clamp-3"><%= producto.descripcion %></p>
                        </div>
                    </article>
                    
                <% } %>
            </div>
        <% } else { %>
            <h1>No hay productos</h1>
        <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>