<%- include('../includes/head.ejs') %>
</head>

<body class="bg-gray-200 flex min-h-screen flex-col">
    <%- include('../includes/navigation.ejs') %>
    <main class="container mx-auto flex-1">
        <h1 class="text-2xl font-semibold mb-5">Productos</h1>
            
        
        <%- include('./card-producto.ejs', {productos: productos}) %>
    </main>
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>